@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.navBar {
  background-color: #f1f1f1;
}


.dual_scrn {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 100%;
}

#west {
  background-color: rgb(0, 217, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

#east {
  background-color: rgb(250, 83, 83);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.inputEmail {
  border-radius: 50px;
}
